{{vm.enlace}}

<md-card flex>
    <md-card-content>
        <div>
            <h2>{{vm.tituloVista}}</h2>
            <br>
            <form name="frm" novalidate>
                <md-input-container>
                    <label>Nombre</label>
                    <input type="text" name="nombre" ng-model="vm.enlace.nombre" class="dialog-close" required>
                    <div ng-messages="frm.nombre.$dirty">
                        <div ng-message when="required">
                            <span translate>Nombre requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>enlace</label>
                    <input type="text" name="enlace" ng-model="vm.enlace.enlace" class="dialog-close" required>
                    <div ng-messages="frm.enlace.$dirty">
                        <div ng-message when="required">
                            <span translate>enlace requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>target</label>
                    <input type="text" name="target" ng-model="vm.enlace.target" class="dialog-close" required>
                    <div ng-messages="frm.target.$dirty">
                        <div ng-message when="required">
                            <span translate>target requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Telefono</label>
                    <input type="text" name="telefono" ng-model="vm.enlace.tel" class="dialog-close" required>
                    <div ng-messages="frm.telefono.$dirty">
                        <div ng-message when="required">
                            <span translate>Telefono requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Clave</label>
                    <input type="text" name="clave" ng-model="vm.enlace.clave" class="dialog-close">
                    <div ng-messages="frm.clave.$dirty">
                        <div ng-message when="required">
                            <span translate>Clave requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Dirección</label>
                    <input type="text" name="direccion" ng-model="vm.enlace.direccion" class="dialog-close" required>
                    <div ng-messages="frm.direccion.$dirty">
                        <div ng-message when="required">
                            <span translate>Direcci&oacute;n requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Ciudad</label>
                    <input type="text" name="ciudad" ng-model="vm.enlace.ciudad" class="dialog-close" required>
                    <div ng-messages="frm.ciudad.$dirty">
                        <div ng-message when="required">
                            <span translate>Ciudad requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <md-select placeholder="{{'MENU.TODO.DIALOG.PRIORITY'}}" ng-model="vm.enlace.pais">
                        <md-option value="repdominicana" translate>Rep. Dominicana</md-option>
                        <md-option value="espana" translate>España</md-option>
                    </md-select>
                </md-input-container>



                <md-input-container>
                    <label>Imagen</label>
                    <input type="file" id="imagen" file-model="vm.enlace.imagen" class="dialog-close">
                </md-input-container>


                <div layout="row" layout-align="end center">
                    <md-button ng-click="vm.cancelar()" class="md-warn">Cancelar</md-button>
                    <md-button ng-click="vm.editar(frm.$valid)" class="md-accent md-hue-3" ng-disabled="frm.$invalid">{{vm.botonTexto}}</md-button>
                </div>

                


            </form>
        </div>
    </md-card-content>
</md-card>