<md-dialog aria-label="Mango (Fruit)" flex="50" flex-sm="50">
    <md-toolbar md-theme="{{triSkin.elements.content}}">
        <div class="md-toolbar-tools">
            <h2>
                <span translate>Agregar Enlace</span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-dialog-content class="sticky-container">
        <div>
            <form name="frm" novalidate>
                <md-input-container>
                    <label>Nombre</label>
                    <input type="text" name="nombre" ng-model="vm.enlace.nombre" class="dialog-close" required>
                    <div ng-messages="frm.nombre.$dirty">
                        <div ng-message when="required">
                            <span translate>Nombre requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Enlace</label>
                    <input type="text" name="ruta" ng-model="vm.enlace.ruta" class="dialog-close" required>
                    <div ng-messages="frm.ruta.$dirty">
                        <div ng-message when="required">
                            <span translate>Ruta requerida</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <md-select placeholder="Seleccionar Target" ng-model="vm.enlace.target">
                        <md-option ng-repeat="opcion in vm.target" value="{{opcion.clave}}">{{opcion.valor}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <md-select placeholder="Seleccionar Categoria" ng-model="vm.enlace.categoria">
                        <md-option ng-repeat="opcion in vm.categorias" value="{{opcion.clave}}">{{opcion.valor}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container ng-show="vm.enlaces">
                    <md-select placeholder="Seleccionar Padre" ng-model="vm.enlace.padre">
                        <md-option ng-repeat="opcion in vm.enlaces" value="{{opcion.id}}">{{opcion.nombre}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                    <label>Clase</label>
                    <input type="text" name="clase" ng-model="vm.enlace.clase" class="dialog-close">
                </md-input-container>

            </form>
        </div>

    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancelar()">Cancel</md-button>
        <md-button ng-click="vm.ocultar()" class="md-primary" ng-disabled="frm.$invalid">Ok</md-button>
    </div>
</md-dialog>