#RewriteEngine On
#Options FollowSymLinks

DirectoryIndex index.php



<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /
  #Current wordpress rewrites
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (.*) /index.php [L]

  #RewriteRule ^paneladmin/(.*)$ http://angularrequire.com/paneladmin/$1 [R=301,L]
</IfModule>