.borde-verde {
  border-bottom: 2px solid #45b29d !important; }

.borde-amarillo {
  border-bottom: 2px solid #efc94c !important; }

.borde-azul {
  border-bottom: 2px solid #589fc8 !important; }

.borde-naranja {
  border-bottom: 2px solid #e27a3f !important; }

.borde-rojo {
  border-bottom: 2px solid #df5a49 !important; }

#main-menu {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  z-index: 102; }

#main-menu > .wrapper {
  background: inherit; }

#main-menu:not(.isfixed) > .wrapper {
  background: inherit;
  width: 100%;
  max-height: 100%;
  min-width: 100%;
  margin: 0px; }

#main-menu.isfixed {
  background: inherit;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.02); }

.admin-bar #main-menu.isfixed {
  top: 32px; }

.main-menu-parent {
  display: block;
  background: inherit; }

#main-menu.main-menu-dark .wrapper > .right .menu-icon .content,
#main-menu.main-menu-dark {
  background: #151517;
  color: #eeeeee; }

#main-menu li a {
  color: #FFFFFF !important; }

#main-menu .wrapper > ul > li > a {
  border-bottom: 2px solid transparent;
  padding: 19px 27px 16px 27px !important; }

#main-menu.main-menu-dark .wrapper > ul > li:not(.has-ot-mega-menu) li:hover > a,
#main-menu.main-menu-dark .wrapper > ul > li:hover > a {
  background: rgba(255, 255, 255, 0.06);
  color: #fff; }

#main-menu.main-menu-dark .wrapper > ul > li:not(.has-ot-mega-menu) ul,
#main-menu.main-menu-dark .wrapper > ul > li.has-ot-mega-menu > ul {
  background: #171718; }

#main-menu.main-menu-dark li.has-ot-mega-menu .article-block .item,
#main-menu.main-menu-dark ul li ul li a:after {
  border-bottom: 1px dotted #4D4D4D; }

#main-menu.main-menu-dark li.has-ot-mega-menu .article-block .item:last-child {
  border-bottom: 0px; }

#main-menu.main-menu-dark .wrapper > ul > li.has-ot-mega-menu > ul > li {
  border-right: 1px dotted #4D4D4D; }

#main-menu.main-menu-dark li.has-ot-mega-menu .article-block .item .article-meta .meta-date {
  border-left: 1px dotted #4D4D4D; }

#main-menu ul {
  display: block; }

#main-menu ul:after {
  display: block;
  clear: both;
  content: ''; }

#main-menu ul li img {
  width: 100%;
  height: auto; }

#main-menu ul li {
  display: block;
  float: left; }

#main-menu ul li > a {
  display: block;
  padding: 23px 15px; }

#main-menu ul li:hover > a {
  color: #ce0000; }

#main-menu ul li > a > span {
  display: block;
  padding-right: 12px;
  position: relative; }

#main-menu ul li li > a > span:after {
  display: block;
  position: absolute;
  content: '\f107';
  font-family: "FontAwesome";
  right: 0px;
  top: 0px;
  font-size: 14px;
  line-height: 11px; }

#main-menu ul li > a > span .m-d-arrow {
  display: block;
  position: absolute;
  z-index: 2;
  content: '';
  right: 0px;
  top: 4px;
  width: 2px;
  height: 2px;
  background: #9e2929; }

#main-menu ul li > a > span .m-d-arrow:before {
  display: block;
  position: absolute;
  content: '';
  left: 200%;
  top: 0px;
  width: 2px;
  height: 2px;
  background: inherit; }

#main-menu ul li > a > span .m-d-arrow:after {
  display: block;
  position: absolute;
  content: '';
  left: 100%;
  top: 100%;
  width: 2px;
  height: 2px;
  background: inherit; }

#main-menu ul ul li:not(.has-ot-mega-menu) > a > span:after {
  content: '\f105'; }

#main-menu .wrapper > ul > li {
  border-right: 1px solid #2f2f31; }

#main-menu .wrapper > ul > li:not(.has-ot-mega-menu) ul {
  display: none;
  position: absolute;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  position: absolute;
  background: #fff;
  width: 280px; }

#main-menu .wrapper > ul > li:not(.has-ot-mega-menu) ul ul {
  margin-left: 280px;
  margin-top: -50px; }

#main-menu .wrapper > ul li:hover > ul {
  display: block; }

#main-menu ul ul li:not(.has-ot-mega-menu) {
  display: block;
  float: none; }

#main-menu ul li.has-ot-mega-menu .widget-menu {
  margin-top: -15px;
  margin-bottom: -15px; }

#main-menu ul li.has-ot-mega-menu .widget-menu > li > a {
  padding-left: 0px;
  padding-right: 0px; }

#main-menu ul li.has-ot-mega-menu .widget-menu > li > a i.fa {
  padding-right: 10px; }

#main-menu ul ul li > a {
  padding: 17px 20px;
  position: relative; }

#main-menu ul ul li > a:hover {
  background: #CBCBCB; }

#main-menu ul li ul li a:after {
  display: block;
  position: absolute;
  content: '';
  width: 87%;
  left: 7.5%;
  height: 1px;
  bottom: 0px;
  border-bottom: 1px dotted #D3D3D3; }

#main-menu ul li.has-ot-mega-menu ul li a:after {
  width: 100%;
  left: 0px;
  display: none; }

#main-menu ul ul li:last-child > a:after {
  display: none; }

#main-menu ul.cart_list li {
  float: none; }

#main-menu ul.cart_list li a {
  padding: 0px;
  padding-left: 60px; }

#main-menu .wrapper > ul > li.ot-showmenu {
  font-family: 'Raleway', sans-serif; }

#main-menu .wrapper > ul > li.ot-showmenu > a {
  font-size: 21px;
  padding: 15px 27px 13px 27px !important;
  background-color: #2C2D30;
  font-weight: 300;
  color: #bcbcbc; }

#main-menu .wrapper > ul > li.ot-showmenu > a i.fa {
  padding-left: 14px; }

#main-menu .wrapper > ul > li.ot-showmenu:hover > a {
  background-color: #2C2D30; }

#main-menu.isfixed .wrapper > ul > li.ot-showmenu {
  display: none; }

#main-menu.main-menu-dark .wrapper > .right .menu-icon .content,
#main-menu.main-menu-dark {
  background: #FFFFFF;
  color: #232323; }

#main-menu .wrapper > ul > li {
  border-right: 1px solid #F0F0F0; }

#main-menu li a {
  color: #232323 !important; }

#main-menu li:hover > a {
  background-color: #F7F7F7 !important; }

#main-menu .wrapper > ul > li.ot-showmenu > a {
  background-color: #FFFFFF; }

#main-menu .wrapper > ul > li.ot-showmenu:hover > a {
  background-color: #F7F7F7; }

.under-menu .wrapper {
  background: #F5F5F5;
  border-top: 1px solid rgba(0, 0, 0, 0.03); }

.under-menu li {
  border-right: 1px solid #EAEAEA; }

.under-menu a {
  color: #717171; }

.under-menu a:hover {
  background-color: #FCFCFC !important; }

#main-menu.main-menu-dark .wrapper > ul > li:not(.has-ot-mega-menu) ul,
#main-menu.main-menu-dark .wrapper > ul > li.has-ot-mega-menu > ul {
  background: #F7F7F7; }

#main-menu.main-menu-dark li.has-ot-mega-menu .article-block .item,
#main-menu.main-menu-dark ul li ul li a:after {
  border-bottom: 1px dotted #D3D3D3; }

#main-menu.main-menu-dark .wrapper > ul > li li:hover > a {
  background: rgba(0, 0, 0, 0.02) !important; }

/*# sourceMappingURL=web.css.map */
