<md-dialog aria-label="Mango (Fruit)" flex="50" flex-sm="50">
    <md-toolbar md-theme="{{triSkin.elements.content}}">
        <div class="md-toolbar-tools">
            <h2>
                <span translate>Agregar Categoria</span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-dialog-content class="sticky-container">
        <div>
            <form name="frm" novalidate>

                <md-input-container>
                    <label>Titulo</label>
                    <input type="text" name="titulo" ng-model="vm.categoria.titulo" class="dialog-close" required>
                    <div ng-messages="frm.titulo.$dirty">
                        <div ng-message when="required">
                            <span translate>Titulo requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Slug</label>
                    <input type="text" name="slug" ng-model="vm.categoria.slug" class="dialog-close" required>
                </md-input-container>

            </form>
        </div>

    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancelar()">Cancel</md-button>
        <md-button ng-click="vm.ocultar()" class="md-primary" ng-disabled="frm.$invalid">Ok</md-button>
    </div>
</md-dialog>