<md-dialog aria-label="Mango (Fruit)" flex="40" flex-sm="40">
    <md-toolbar md-theme="{{triSkin.elements.content}}">
        <div class="md-toolbar-tools">
            <h2>
                <span translate>Agregar Usuario</span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-dialog-content class="sticky-container">
        <div>
            <form name="taskForm" novalidate>

                <md-input-container>

                <!--<cms-cargar-archivo></cms-cargar-archivo>-->
                    <h3>Select files</h3>

                    <div ng-show="vm.uploader.isHTML5">
                        <!-- 3. nv-file-over uploader="link" over-class="className" -->
                        <!--<div class="well my-drop-zone" nv-file-over="" uploader="vm.uploader">
                            Base drop zone
                        </div>-->

                        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
                        <div nv-file-drop="" uploader="vm.uploader" options="{ url: '/foo' }">
                            <div nv-file-over="" uploader="vm.uploader" over-class="another-file-over-class" class="well my-drop-zone">
                                Another drop zone with its own settings
                            </div>
                        </div>
                    </div>

                    <md-button id="uploadButton" nv-file-select="" uploader="vm.uploader" class="md-raised md-primary"> Choose Files </md-button>

                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                    <input type="file" nv-file-select="" uploader="vm.uploader" multiple aria-label="cargar" />
                    <h2>The queue. Length: {{ vm.uploader.queue.length }}</h2>


                    <ul>
                        <li ng-repeat="item in vm.uploader.queue">

                            <div ng-bind="vm.procesarArchivo.getImagen(item)"></div>

                            <div>Name: {{item.name}}</div>
                            <div>Size: {{ item.file.size/1024/1024|number:2 }} Mb</div>
                            <div ng-show="vm.uploader.isHTML5">
                                Progress: {{ item.progress }}
                                <div class="item-progress-box">
                                    <div class="item-progress" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </div>
                            <div ng-if="vm.controller.isImage(item._file)">
                                Thumbnail (only images):
                                <!-- Image preview -->
                                <!--auto height-->
                                <!--<div cms-imagen-vista="{ file: item.file, width: 100 }"></div>-->
                                <!--auto width-->
                                <!--<div cms-imagen-vista="{ file: item._file, height: 100 }"></div>-->
                                <!--fixed width and height -->
                                <div cms-imagen-vista="{ file: item._file, width: 100, height: 100 }"></div>
                            </div>
                            <div>
                                <button ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">Upload</button>
                                <button ng-click="item.cancel()" ng-disabled="!item.isUploading">Cancel</button>
                                <button ng-click="item.remove()">Remove</button>
                            </div>
                        </li>
                    </ul>
                    <div>
                        <div>
                            Total progress: {{ vm.uploader.progress }}
                            <div class="total-progress-box">
                                <div class="total-progress" ng-style="{ 'width': vm.uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <!--
                        <button ng-click="vm.uploader.uploadAll()" ng-disabled="!vm.uploader.getNotUploadedItems().length">Upload all</button>
                        <button ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading">Cancel all</button>
                        <button ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length">Remove all</button>
                        -->
                    </div>




                </md-input-container>






















                <md-input-container>
                    <label>Usuario</label>
                    <input type="text" name="usuario" ng-model="vm.usuario.usuario" class="dialog-close" required>
                    <div ng-messages="taskForm.usuario.$dirty">
                        <div ng-message when="required">
                            <span translate>Nombre requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Nombre</label>
                    <input type="text" name="nombre" ng-model="vm.usuario.nombre" class="dialog-close" required>
                    <div ng-messages="taskForm.nombre.$dirty">
                        <div ng-message when="required">
                            <span translate>Nombre requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Apellido</label>
                    <input type="text" name="apellidos" ng-model="vm.usuario.apellidos" class="dialog-close" required>
                    <div ng-messages="taskForm.apellidos.$dirty">
                        <div ng-message when="required">
                            <span translate>Apellido requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Correo</label>
                    <input type="text" name="correo" ng-model="vm.usuario.correo" class="dialog-close" required>
                    <div ng-messages="taskForm.correo.$dirty">
                        <div ng-message when="required">
                            <span translate>Correo requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Telefono</label>
                    <input type="text" name="telefono" ng-model="vm.usuario.tel" class="dialog-close" required>
                    <div ng-messages="taskForm.telefono.$dirty">
                        <div ng-message when="required">
                            <span translate>Telefono requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Clave</label>
                    <input type="text" name="clave" ng-model="vm.usuario.clave" class="dialog-close" required>
                    <div ng-messages="taskForm.clave.$dirty">
                        <div ng-message when="required">
                            <span translate>Clave requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Dirección</label>
                    <input type="text" name="direccion" ng-model="vm.usuario.direccion" class="dialog-close" required>
                    <div ng-messages="taskForm.direccion.$dirty">
                        <div ng-message when="required">
                            <span translate>Direcci&oacute;n requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Ciudad</label>
                    <input type="text" name="ciudad" ng-model="vm.usuario.ciudad" class="dialog-close" required>
                    <div ng-messages="taskForm.ciudad.$dirty">
                        <div ng-message when="required">
                            <span translate>Ciudad requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <md-select placeholder="{{'MENU.TODO.DIALOG.PRIORITY'}}" ng-model="vm.usuario.pais">
                        <md-option value="repdominicana" translate>Rep. Dominicana</md-option>
                        <md-option value="espana" translate>España</md-option>
                    </md-select>
                </md-input-container>



                <md-input-container>
                    <label>Imagen</label>
                    <input type="file" id="imagen" file-model="vm.usuario.imagen" class="dialog-close">
                </md-input-container>



            </form>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancelar()">Cancel</md-button>
        <md-button ng-click="vm.ocultar(vm.uploader.queue)" class="md-primary" ng-disabled="taskForm.$invalid">Ok</md-button>
    </div>
</md-dialog>