<div ng-cloak>

    <div id="page-wrapper" ng-class="{'open': menu}" ng-cloak>
        <!-- Sidebar -->
        <!--<div ng-include="'html/_menulateral.html'"></div>-->
        <cms-menu></cms-menu>
        <!-- End Sidebar -->

        <div id="content-wrapper">
            <div class="page-content">

                <!-- Header Bar -->
                <cms-barra-superior></cms-barra-superior>
                <!-- End Header Bar -->

                <!-- Main Content -->

                <div class="row">
                    <div class="col-md-12">
                        <a href="/admin/usuario/crear/" data-placement="top" data-toggle="tooltip" title="Edit">
                            <button class="btn btn-info" data-title="Agregar"  >
                                <span class="glyphicon glyphicon-plus fa-0x"></span> Agregar</button></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">


                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                    <input type="text" class="form-control" placeholder="Search da Fish" ng-model="tblsearchFish">
                                </div>
                            </div>
                        </form>

                        <table class="table table-bordered table-striped">

                            <thead>
                            <tr>
                                <td>
                                    <a href="#" ng-click="tblsortType = 'uid'; tblsortReverse = !tblsortReverse">
                                        ID
                                        <span ng-show="tblsortType == 'uid' && !tblsortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="tblsortType == 'uid' && tblsortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="tblsortType = 'nombre'; tblsortReverse = !tblsortReverse">
                                        Nombre
                                        <span ng-show="tblsortType == 'nombre' && !tblsortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="tblsortType == 'nombre' && tblsortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="tblsortType = 'correo'; tblsortReverse = !tblsortReverse">
                                        Correo
                                        <span ng-show="tblsortType == 'correo' && !tblsortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="tblsortType == 'correo' && tblsortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="tblsortType = 'telefono'; tblsortReverse = !tblsortReverse">
                                        Telefono
                                        <span ng-show="tblsortType == 'telefono' && !tblsortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="tblsortType == 'telefono' && tblsortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    #
                                </td>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="usuario in vm.usuarios | orderBy:tblsortType:tblsortReverse | custom:tblsearchFish">
                                <td>{{ usuario.uid }}</td>
                                <td>{{ usuario.nombre }}</td>
                                <td>{{ usuario.correo }}</td>
                                <td>{{ usuario.telefono }}</td>
                                <td>
                                    <a href="/admin/usuario/{{ usuario.uid }}/editar/" data-placement="top" data-toggle="tooltip" title="Edit">
                                        <button class="btn btn-info btn-xs" data-title="Editar" data-toggle="modal" data-target="#edit" >
                                        <span class="glyphicon glyphicon-pencil"></span></button></a>

                                    <a href="#" ng-click="vm.eliminar(usuario.uid, $index)" data-placement="top" data-toggle="tooltip" title="Edit">
                                        <button class="btn btn-danger btn-xs" data-title="Editar" data-toggle="modal" data-target="#edit" >
                                        <span class="glyphicon glyphicon-remove"></span></button></a>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>



<!-- END MAIN CONTENT -->

</div><!-- End Page Content -->
</div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->

</div>