<div ng-cloak ng-controller="MasterController as vm">

    <div id="page-wrapper" ng-class="{'open': menu}" ng-cloak>
        <!-- Sidebar -->
        <!--<div ng-include="'html/_menulateral.html'"></div>-->
        <cms-menu></cms-menu>
        <!-- End Sidebar -->

        <div id="content-wrapper">
            <div class="page-content">

                <!-- Header Bar -->
                <cms-barra-superior></cms-barra-superior>
                <!-- End Header Bar -->

                <!-- Main Content -->


                <div class="alert alert-info">
                    <p>Sort Type: {{ vm.tblsortType }}</p>
                    <p>Sort Reverse: {{ vm.tblsortReverse }}</p>
                    <p>Search Query: {{ vm.tblsearchFish }}</p>
                </div>

                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Search da Fish" ng-model="tblsearchFish">
                        </div>
                    </div>
                </form>

                <table class="table table-bordered table-striped">

                    <thead>
                    <tr>
                        <td>
                            <a href="#" ng-click="tblsortType = 'nombre'; tblsortReverse = !tblsortReverse">
                                Nombre
                                <span ng-show="tblsortType == 'nombre' && !tblsortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="tblsortType == 'nombre' && tblsortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="tblsortType = 'correo'; tblsortReverse = !tblsortReverse">
                                Correo
                                <span ng-show="tblsortType == 'correo' && !tblsortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="tblsortType == 'correo' && tblsortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="tblsortType = 'telefono'; tblsortReverse = !tblsortReverse">
                                Telefono
                                <span ng-show="tblsortType == 'telefono' && !tblsortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="tblsortType == 'telefono' && tblsortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="usuario in vm.usuarios | orderBy:tblsortType:tblsortReverse | filter:tblsearchFish">
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.correo }}</td>
                        <td>{{ usuario.telefono }}</td>
                    </tr>
                    </tbody>

                </table>


<!-- END MAIN CONTENT -->

</div><!-- End Page Content -->
</div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->

</div>