#RewriteEngine On
#Options FollowSymLinks

DirectoryIndex index.php



<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /admin/

  #Current wordpress rewrites
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  #RewriteRule (.*) admin.html [L]
  RewriteRule (.*) /admin/index.php [L]

  RewriteRule ^admin /login [R=301,L]
  #RewriteRule ^login$ /paneladmin/login.html [L]
  #RewriteRule ^admin$ /paneladmin/admin.html [L]

</IfModule>