<nav class="top-menu">
	<div class="wrapper">
		<ul class="left load-responsive" rel="Top Menu">
			<li><a href="index.html"><i class="fa fa-home"></i></a></li>
			<li><a href="blog.html"><span>Blog page</span></a>
				<ul>
					<li><a href="blog2.html">Blog page #2</a></li>
					<li><a href="blog3.html">Blog page #3</a></li>
				</ul>
			</li>
			<li><a href="features.html">Features</a></li>
			<li><a href="shortcodes.html">Shortcodes</a></li>
			<li><a href="category.html">Category</a></li>

			<li ng-if="vm.isAuthenticated()"><a href="/admin">Admin</a></li>

			<li ng-if="!vm.isAuthenticated()"><a href="/login">Acceder</a></li>
			<li ng-if="!vm.isAuthenticated()"><a href="/signup">Registrarse</a></li>

			<li ng-if="vm.isAuthenticated()"><a href="/logout">Salir</a></li>

		</ul>
		<div class="clear-float"></div>
	</div>
</nav>